altgraph
certifi
charset-normalizer
#distlib
docutils
#filelock
idna
#importlib-metadata
Kivy==2.3.0
Kivy-Garden==0.1.5
KivyMD==1.2.0
opencv-python
#packaging
pefile
Pillow
platformdirs
#psutil
pygments
requests
urllib3
