altgraph
certifi
charset-normalizer
distlib
docutils
filelock
idna
importlib-metadata
Kivy
Kivy-Garden
https://github.com/kivymd/KivyMD/archive/master.zip
opencv-python
packaging
pefile
Pillow
platformdirs
psutil
pygments
pyinstaller
pyinstaller-hooks-contrib
pywin32-ctypes
requests
urllib3
virtualenv
zipp
