altgraph
certifi
charset-normalizer
distlib
docutils
filelock
idna
importlib-metadata
Kivy
Kivy-Garden
kivymd
opencv-python
packaging
pefile
Pillow
platformdirs
psutil
pygments
pyinstaller
pyinstaller-hooks-contrib
pywin32-ctypes
requests
urllib3
virtualenv
zipp
