Kivy==2.2.0.dev0
kivymd
altgraph
certifi
charset-normalizer
docutils
idna
kivy-deps.angle
kivy-deps.glew
kivy-deps.sdl2
Kivy-examples
Kivy-Garden
pefile
Pillow
Pygments
pyinstaller
pyinstaller-hooks-contrib
pypiwin32
pywin32
pywin32-ctypes
requests
urllib3
